$base-colour: orange;

.base-colour, .important-colour, .warning-colour, .shadow-box  {
  border: 1px solid gray;
  border-radius: 6px;
}

.main-font {
  font-family: Cambria, Georgia, serif; 
}

.main-container {
  @include set-bg-color($base-colour);
}

.secondary-font {
  font-family: Papyrus, fantasy;
  font-weight: bold;
}

.shadow-box {
  box-shadow:  0.5em 1em 1em rgb(80, 80, 80);
}

