body {
  background-color: whitesmoke;
  font-family: Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif;
}

.main-container {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(auto-fit, 300px);
  grid-auto-rows: auto;
  grid-gap: 1rem;
}

.card {
  border: 2px solid grey;
  border-radius: 2px;
  background-color: white;
  .header {
    .card-img {
      object-fit: cover;
      width: 100%;
      max-height: 100%;
    }
  }
  .title {
    padding: 1rem;
    margin: 0;
  }
  .block {
    text-align: justify;
    text-justify: inter-word;
    padding: 1rem;
    margin: 0;
  }

  footer {
    padding: 1rem;
    .publishing {
      margin-top: 0;
      text-align: right;
      .date {
        color: rgb(123, 206, 0);
      }
    }
    .info-button {
      color: white;
      background-color: rgb(123, 206, 0);
      width: 100%;
      padding: 1rem;
      border: none;
    }
  }
}